@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.basket-item {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.basket-count {
    font-size: 17px;
    color: rgb(97, 95, 95);
}

.basket-counts-box {
    width: 900px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

body {
    background-color: rgb(245, 244, 244);
}

.main-wrapper-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.basket-cards-box {
    width: 900px;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.basket-cards-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #adadad;
    padding-top: 20px;
    border-radius: 0px;
}

.product-img {
    width: 120px;
    background-color: rgb(245, 244, 244);
    border-radius: 8px;
}

.product-name {
    color: black;
    font-weight: 600;
    font-size: 17px;
    text-overflow: ellipsis;
}

.product-brand {
    color: rgb(169, 168, 168);
    font-weight: 500;
    font-size: 13px;
}

.product-price {
    color: #da002b;
    font-family: "roboto";
    font-weight: 600;
    font-size: 18px;
}

.add-count-box {
    background-color: rgb(245, 244, 244);
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    justify-content: space-between;
    gap: 20px;
}

.product-items-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
}

.product-btns-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.card-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.delete_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.zakaz-total-box {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.dostavka-price-text,
.price-product-text,
.price {
    font-family: "roboto";
    font-size: 25px;
    font-weight: 600;
    color: #da002b;
}

.dostavka-price,
.price-product {
    font-family: "roboto";
}

.basket-box {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.basket-icon {
    width: 64px;
}

.empty-basket-item-1 {
    font-size: 27px;
    font-family: "raleway";
    font-weight: 600;
}

.empty-basket-item-2 {
    font-size: 14px;
    font-family: "raleway";
    font-weight: 500;
    color: rgb(95, 94, 94);
    text-align: center;
}

.back-page-btn {
    background-color: #da002b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transition: 300ms all ease-in-out;
    font-family: "raleway";
    border: 2px solid #da002b;
}

.back-page-btn:hover {
    transition: 300ms all ease-in-out;
    background-color: transparent;
    color: #da002b;
}

.empty-basket-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: center;
    gap: 10px;
    margin: 100px auto;
}