@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "raleway";
    box-sizing: border-box;
}

.apples-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.smartphone-card {
    width: 278px;
    height: fit-content;
    max-height: 583px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.product-img-smartphone {
    width: 100%;
    background-color: #efeded;
    border-radius: 10px;
}

.product-name-smartphone {
    font-weight: 500;
    font-size: 20px;
    padding-left: 8px;
}

.smartphone-card-price-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 8px;
}

.product-price-smartphone {
    font-family: "roboto";
    font-weight: 600;
    font-size: 21px;
    color: black;
}


.product-rassrochka-price-smartphone {
    background-color: rgb(250, 220, 27);
    width: fit-content;
    padding: 3px 7px;
    border-radius: 6px;
    font-family: "roboto";
    font-weight: 500;
    font-size: 14px;
    color: #252525;
}

.smartphone-card-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-basket-btn {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 2px;
    transition: 300ms all ease;
}

.add-basket-btn img {
    width: 20px;
}

.delete-prod {
    background-color: #e1dede;
    border-radius: 12px;
    border: none;
}

.delete-prod img {
    width: 30px;
}