@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "raleway";
}

.container {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

.header {
    background-color: #da002b;
    width: 100%;
}


.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-left-btn {
    width: 131px;
    height: 32px;
    background-color: white;
    color: #da002b;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    transition: 300ms all ease;
    border: 2px solid white;
}

.header-left-btn:hover {
    transition: 300ms all ease;
    background-color: transparent;
    color: white;
}


.page-map-link {
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-telephone-number {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.sell-from-olcha_btn {
    width: 191px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: 300ms all ease;
}


.sell-from-olcha_btn:hover {
    transition: 300ms all ease;
    background-color: white;
    border: none;
    color: #da002b;
}

.language-select_box {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-right: 1px solid #cac7c7;
    border-left: 1px solid #cac7c7;
}

.select-language {
    font-weight: 500;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.main-wrapper-1_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    transition: 300ms all ease;
}

.main-wrapper-1_div.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    transition: 300ms all ease;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-btn {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 14px;
    font-weight: 600;
    gap: 5px;
    transition: 300ms all ease;
    cursor: pointer;
}

.nav-btn img {
    width: 30px;
}

.nav-btn:hover {
    transition: 300ms all ease;
    color: #da002b;
}

.svg {
    transition: 300ms all ease;
}

.nav-btn:hover .svg {
    transition: 300ms all ease;
    stroke: #da002b;
}

.search_btn {
    width: 50px;
    height: 50px;
}

.search_btn img {
    width: 100%;
}

.nav-catalog {
    width: 166px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    font-weight: 500;
    font-size: 19px;
    color: black;
    padding: 5px;
    transition: 300ms all ease;
}

.nav-catalog img {
    width: 35px;
}

.nav-logo {
    width: 100px;
}

.nav-catalog:hover {
    transition: 300ms all ease;
    border: #da002b 2px solid;
    color: #da002b;
}

.burger {
    transition: 300ms all ease;
}

.nav-catalog:hover .burger {
    transition: 300ms all ease;
    stroke: #da002b;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-center {
    display: flex;
    margin-left: 50px;
}

.serach_input {
    width: 644px;
    height: 44px;
    padding: 11px 24px;
    border-radius: 10px;
    background-color: #e8e6e6bf;
    border: none;
    font-size: 17px;
    outline: none;
}

.search_btn {
    width: 73px;
    height: 38px;
    background-color: #da002b;
    border-radius: 10px;
    border: none;
    position: relative;
    right: 76px;
    top: 2.5px;
    cursor: pointer;
    transition: 300ms all ease;
}

.search_btn img {
    width: 30px;
}

.swiper {
    border-radius: 10px;
    width: 1106px;
}

.main-wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.product-of-day-box {
    height: 382px;
    width: 304px;
    border: 3px solid #da002b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-of-day-item {
    font-size: 20px;
    font-weight: 600;
    color: #111111;
}

.time {
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    padding: 2px;
}

.swiper-button-prev,
.swiper-button-next {
    border-radius: 50%;
    color: #da002b !important;
    background-color: #fff !important;
    width: 35px !important;
    height: 35px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
    opacity: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 19px !important;
    font-weight: 900;
}


.swiper:hover .swiper-button-next {
    opacity: 1;
}

.swiper:hover .swiper-button-prev {
    opacity: 1;
}


.swiper-pagination-bullet-active {
    background: #da002b !important;
}

.card {
    background-color: white;
    width: 218px;
    height: 510px, fit-content;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.card-product-img {
    width: 100%;
    border-radius: 10px;
    background-color: #efeded;
}

.card-wrapper {
    background-color: #da002b;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    transition: 300ms all ease;
}

.card-product-item {
    font-family: "roboto";
    font-weight: 500;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.card-product-price {
    color: #da002b;
    font-family: "roboto";
    font-weight: 700;
    font-size: 20px;
}

.card-product-price-skidka {
    color: #cac7c7;
    font-family: "roboto";
    text-decoration: line-through;
    font-weight: 400;
    font-size: 18px;
}

.card-product-price-rassrochka {
    background-color: rgb(250, 220, 27);
    width: fit-content;
    padding: 3px 7px;
    border-radius: 6px;
    font-family: "roboto";
    font-weight: 500;
    font-size: 14px;
    color: #252525;
}

.add-basket-btn {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 2px;
    transition: 300ms all ease;
}

.add-basket-btn img {
    width: 20px;
}

.buy-rassrochka-btn {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #da002b;
    font-weight: 500;
    font-size: 17px;
    color: #da002b;
    background-color: transparent;
    transition: 300ms all ease;
}

.card-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    transition: 300ms all ease;
}

.buy-rassrochka-btn:hover {
    background-color: #da002c14;
    transition: 300ms all ease;
}

.add-basket-btn:hover {
    background-color: rgb(232, 232, 232);
}

.reklam-banner {
    margin: 0 auto;
    width: 100%;
    transition: 300ms all ease;
    margin-top: 50px;
}

.reklam-banner:hover {
    transition: 300ms all ease;
    transform: scale(1.02);

}

.card-discount {
    background-color: #da002b;
    border-radius: 6px;
    padding: 4px;
    color: white;
    font-family: "roboto";
    font-weight: 500;
    width: fit-content;
    position: absolute;
}

.reveal-discount-products {
    background-color: white;
    border-radius: 100%;
    padding: 4px 5px;
    position: absolute;
    bottom: -960px;
    right: 100px;
    border: none;
    box-shadow: 0 0 5px 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reveal-discount-products img {
    transform: rotate(180deg);
}

.smartphone-card {
    width: 278px;
    height: fit-content;
    max-height: 583px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.product-img-smartphone {
    width: 100%;
    background-color: #efeded;
    border-radius: 10px;
}

.product-name-smartphone {
    font-weight: 500;
    font-size: 20px;
    padding-left: 8px;
}

.product-price-smartphone {
    font-family: "roboto";
    font-weight: 600;
    font-size: 21px;
    color: black;
}

.product-rassrochka-price-smartphone {
    background-color: rgb(250, 220, 27);
    width: fit-content;
    padding: 3px 7px;
    border-radius: 6px;
    font-family: "roboto";
    font-weight: 500;
    font-size: 14px;
    color: #252525;
}

.smartphone-card-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smartphone-card-btn-box .buy-rassrochka-btn {
    width: 190px;
}

.smartphone-card-price-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 8px;
}

.smartphones-item {
    font-family: "roboto";
    font-weight: 600;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.smartphone-cards,
.sport-cards,
.apples-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.login-box {
    position: fixed;
    top: 200px;
    left: 600px;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
    padding: 10px;
    transition: 300ms all ease;
}

.login-box.active {
    opacity: 1;
    width: 400px;
    height: 300px;
    transition: 300ms all ease;
}

.login-item {
    font-family: "roboto";
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
}


.emailInpit,
.passwordInput {
    width: 320px;
    border: 2px solid #adadad;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 20px;
    outline: none;
}

.privacyText {
    color: #252525;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}

.privacyBtn {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    accent-color: #da002b;
}

.loginBtn {
    background-color: #da002b;
    width: 320px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: 300ms all ease;
    opacity: 0.4;
    border: 2px solid #da002b;
}

.loginBtn:hover {
    background-color: white;
    border: 2px solid #da002b;
    color: #da002b;
    transition: 300ms all ease;
}

.close-login-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.content.login {
    backdrop-filter: brightness(80%);
    filter: brightness(80%);
}

.notification {
    position: relative;
    background: #333;
    color: white;
    border-radius: 8px;
    margin: 8px 0;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 40px;
    padding: 15px;
    font-size: 14px;
    transition: 300ms all ease;
    cursor: pointer;
}

.notification.none {
    opacity: 0;
    transform: translateX(100%);
}

.poloska {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background: #3498db;
    animation: shrink 5s linear forwards;
}

@keyframes shrink {
    from {
        right: 0;
        width: 100%;
    }

    to {
        right: 100%;
        width: 0;
    }
}

.notificationsBox {
    position: fixed;
    top: 60px;
    right: 5px;
    width: 320px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    z-index: 1000;
}

.bannerSport {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.search-page {
    background-color: white;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    z-index: 1002;
    transition: 300ms all ease;
}

.search-page.active {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    overflow-y: scroll;
    transition: 300ms all ease;
}

.search-box {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #adadad;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
}

.searchInput {
    font-size: 30px;
    font-weight: 400;
    font-family: "roboto";
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
}

.search-btn {
    width: 73px;
    height: 38px;
    background-color: #da002b;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 300ms all ease;
}

.search-btn img {
    width: 30px;
}

.btn-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.close-search {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.popular-products-item {
    font-size: 25px;
    font-weight: 500;
}

.products {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.search-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.korzina-count {
    background-color: #da002b;
    border-radius: 100%;
    padding: 0 6px;
    color: white;
    position: absolute;
    top: 0;
    right: 4px
}

.korzina-box-box {
    position: relative;
}